
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
  font-size: 0.3rem;
  color: #fff;
  visibility: hidden;
}
