* { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: "led"; src: url("../fonts/led-number.TTF") format("truetype"); }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100vw; height: 100vh; background-color: #1b1b1b; font-size: 60px; font-weight: bold; color: #0ff; }

.number-animate-wrap { position: relative; font-size: 0; font-family: "led", Arial, "Helvetica Neue", sans-serif; }

.number-animate-wrap:after { content: ""; display: block; clear: both; overflow: hidden; }

.number-animate-inner { display: inline-block; height: 80px; line-height: 80px; white-space: nowrap; vertical-align: middle; text-align: center; font-size: 60px; overflow: hidden; }

.number-animate-num { float: left; width: 50px; -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }

.number-animate-symbol { float: left; }

.number-animate-span { display: block; }
