extends ../layout.pug

block content
  #stage
    .motion-type-1
      div
      div
      div
      div
    .motion-type-2
      div
      div
      div
      div
    .motion-type-3
      div
      div
      div
      div

