* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

ul,
ol {
  list-style: none;
}

html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
