@import "core/style";
@import "common/style";

@font-face {
  font-family: "led";
  src: url("../fonts/led-number.TTF") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  color: #0ff;
}


label {
  position: relative;
  display: block;
  min-width: 60px;
  height: 40px;
  padding: 0 30px;
  line-height: 40px;
  background-color: #4b0082;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
              0 2px 2px 0 rgba(0, 0, 0, .14),
              0, 1px 5px 0 rgba(0, 0, 0, .12);
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: .3s;
  user-select: none;

  &:hover {
    box-shadow: none;
  }
}

input[type="file"] {
  display: none;
}
