* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #ff0 0%, #3f9 80%);
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

.wrapper {
  position: relative;
  width: 140px;
  height: 140px;
  perspective: 1000px;
}

.cube {
  position: relative;
  width: 140px;
  height: 140px;
  transform-style: preserve-3d;
  user-select: none;
  cursor: pointer;
  transform: rotateX(-45deg) rotateY(30deg);
  transform-origin: 105px 105px 55px;
}

.cube .outer {
  position: absolute;
  width: 140px;
  height: 140px;
  line-height: 138px;
  background-color: rgba(51, 51, 51, 0.8);
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  transition: transform 0.2s ease-in;
}

.cube .outer:nth-of-type(1) {
  transform: translateZ(70px);
}

.cube .outer:nth-of-type(2) {
  transform: translateZ(-70px) rotateY(180deg);
}

.cube .outer:nth-of-type(3) {
  transform: translateX(70px) rotateY(90deg);
}

.cube .outer:nth-of-type(4) {
  transform: translateX(-70px) rotateY(90deg);
}

.cube .outer:nth-of-type(5) {
  transform: translateY(70px) rotateX(90deg);
}

.cube .outer:nth-of-type(6) {
  transform: translateY(-70px) rotateX(90deg);
}
