@charset "utf-8";
*{padding:0;margin:0;}
body{background:url(../images/bg3.png) repeat fixed ;font-family:"微软雅黑";}
mark{background:none;color:rgb(255,163,0);}
ul{list-style:none;}
ul li{text-indent:2em;}
img{border:none;}
a{text-decoration:none;}
summary{outline:none;cursor:pointer;}
textarea{outline:none;}

.nav{
	padding:10px 0;
	width:auto;
	list-style:none;
	position:fixed;
	top:0;left:0;
	z-index:10;
}

.nav li{
	padding:5px;
	margin:2px 0;
	width:100px;
	text-indent:0;
	border:1px solid #82A631;
	border-left:none;
	border-radius:0 50px 50px 0;
	background:#eee;
	-webkit-transition:width 0.2s linear,background 1s linear;
	-moz-transition:width 0.2s linear,background 1s linear;
	-o-transition:width 0.2s linear,background 1s linear;
}
.nav li a.first{font-weight:bold;color:#82A631;}
.nav li a{
	color:#666;
	-webkit-transition:color 0.5s linear;
	-moz-transition:color 0.5s linear;
	-o-transition:color 0.5s linear;
}
.nav li:hover a{color:#82A631;}
.nav li:hover{
	width:200px;
	text-align:center;
	background:#fff;
	box-shadow:0 0 10px 2px #82A631;
}


.note{
		width:940px;
		height:100%;
		border-radius:10px;
		padding:30px 20px;
		margin:25px auto;
		background-color: rgba(0,0,0,0.3);
		position:relative;
	}
.note:hover{box-shadow:0 0 10px rgba(255,255,255,0.8);}	
.note h2{
		color:#82A631;
		font-family:"Comic Sans MS",cursive;
		cursor:default;
		letter-spacing:0.1em;
		-webkit-transition:padding-left 1s;
		-moz-transition:padding-left 1s;
		-o-transition:padding-left 1s;
		transition:padding-left 1s;
	}
.note h2:hover{padding-left:40px;}


.open_ico{
		position:absolute;
		top:20px; right:20px;
		display:block;
		width: 25px; text-align: center;
		height: 25px; line-height: 25px;
		text-decoration: none;
		font-weight: 700;
		color: rgb(108,108,108);
		border: 1px solid rgb(106, 106, 106);
		border-radius:20px;
		box-shadow:0 0 5px rgb(120,120,120);
		outline:none;
	}
.open_ico:hover,.open_ico_focu{color:#82A631;background:#eee;border-color:#82A631;box-shadow:0 0 5px #82A631;}	


.note_info{
		width:900px;
		padding:15px;
		margin:12px auto;
		font-size:14px;
		line-height:20px;
		letter-spacing:0.1em;
		color:rgb(108,108,108);
		background-color: rgba(0,0,0,0.3);
		border-radius:10px;
		border:1px solid #333;
		word-wrap:break-word;
		display:none;
	}
.note_info pre{overflow-x:scroll;width:90%;height:200px;padding:8px;background:#fff;color:#333;margin:10px auto 0;background:#7a7a7a;color:#fff;border:1px solid #F60;}
.note_info span{color:#fff;}
.note_info p.textindent{text-indent:2em;}

.demo1{
		padding:6px;
		width:400px;
		height:180px;
		border-radius:3px;
		vertical-align:top;
		background:#fbeacd;
		box-shadow:2px 2px 3px rgba(238,238,238,0.3);
		-webkit-transition:all 0.3s;
		-moz-transition:all 0.3s;
		-o-transition:all 0.3s;
		
	}
.demo1:focus{box-shadow:-1px -1px 5px rgba(238,238,238,0.3); }	

#back-to-top{position:fixed;bottom:100px;right:25px;z-index:10;display:none;}
#back-to-top a{display:block;background:url(../images/scrollTop.png) 0 0;width:48px;height:75px;outline:none;}
#back-to-top a:hover{background-position:-48px 0;}

/* html */  
:-webkit-full-screen {background:transparent;}  
:-moz-full-screen {background:transparent;}  
/* deeper elements */  
:-webkit-full-screen video {width:100%;height:100%;}
 
