@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
li {
  list-style: none;
}
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #f5f5f5;
  font-family: "Microsoft Yahei", sans-serif;
}
::-moz-selection {
  background: #edfff9;
  color: #1224ac;
}
::selection {
  background: #edfff9;
  color: #1224ac;
}
h1 {
  text-align: center;
  font-weight: lighter;
  line-height: 2;
  font-size: 50px;
  color: #aaa;
}
h5 {
  font-weight: lighter;
}
.wrapper {
  position: relative;
  width: 1070px;
  height: 730px;
  margin: 0 auto;
  background-color: #0b4bc9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item {
  float: left;
  height: 245px;
  border-bottom: 10px solid #f5f5f5;
  border-right: 10px solid #f5f5f5;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  overflow: hidden;
}
.item h5 {
  font-size: 24px;
  color: #0b4bc9;
}
.item h5 p {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  color: #0b4bc9;
}
.item-logo {
  position: relative;
  display: block;
  top: 75px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../img/img2.png);
}
.item:hover .item-logo {
  display: none;
}
.item:hover h5 {
  color: #fff;
}
.item:hover h5 p {
  color: #fff;
}
.item-1 {
  width: 245px;
}
.item-1 .item-logo {
  background-position: 0 0;
}
.item-1:hover {
  background-color: #3ba5ef;
}
.item-1:hover h5 {
  float: right;
  padding: 85px 20px 0;
}
.item-2 {
  width: 580px;
}
.item-2 .item-logo {
  background-position: -100px 0;
}
.item-2:hover {
  background-color: #01a600;
}
.item-2:hover h5 {
  float: right;
  padding: 85px 20px 0;
}
.item-3 {
  width: 245px;
}
.item-3 .item-logo {
  background-position: -200px 0;
}
.item-3:hover {
  background-color: #7a5133;
}
.item-3:hover h5 {
  float: right;
  padding: 85px 20px 0;
}
.item-4 {
  width: 350px;
}
.item-4 .item-logo {
  background-position: -300px 0;
}
.item-4:hover {
  background-color: #f06034;
}
.item-4:hover h5 {
  float: right;
  padding: 85px 20px 0 60px;
}
.item-5 {
  width: 345px;
}
.item-5 .item-logo {
  background-position: -400px 0;
}
.item-5:hover {
  background-color: #653fce;
}
.item-5:hover h5 {
  float: left;
  padding: 85px 20px 0 60px;
}
.item-6 {
  width: 375px;
}
.item-6 .item-logo {
  background-position: 0 -100px;
}
.item-6:hover {
  background-color: #0075ea;
}
.item-6:hover h5 {
  float: left;
  padding: 85px 20px 0 60px;
}
.item-7 {
  width: 210px;
}
.item-7 .item-logo {
  background-position: -100px -100px;
}
.item-7:hover {
  background-color: #291fa7;
}
.item-7:hover h5 {
  float: left;
  padding: 85px 20px 0;
}
.item-8 {
  width: 200px;
}
.item-8 .item-logo {
  background-position: -200px -100px;
}
.item-8:hover {
  background-color: #058b71;
}
.item-8:hover h5 {
  float: right;
  padding: 85px 20px 0;
}
.item-9 {
  width: 340px;
}
.item-9 .item-logo {
  background-position: -300px -100px;
}
.item-9:hover {
  background-color: #3ba7f2;
}
.item-9:hover h5 {
  float: left;
  padding: 85px 20px 0;
}
.item-10 {
  width: 320px;
}
.item-10 .item-logo {
  background-position: -400px -100px;
}
.item-10:hover {
  background-color: #b70833;
}
.item-10:hover h5 {
  float: left;
  padding: 85px 20px 0;
}
/* 高分辨率 */
@media screen and (max-width: 4096px) {
  .wrapper {
    background-image: -webkit-linear-gradient(150deg, #1224ac 0%, #049be9 100%);
    background-image: -o-linear-gradient(150deg, #1224ac 0%, #049be9 100%);
    background-image: linear-gradient(300deg, #1224ac 0%, #049be9 100%);
  }
  .item h5 {
    opacity: 0;
  }
  .item:hover h5 {
    opacity: 1;
  }
}
/* 中分辨率样式 */
@media screen and (max-width: 1100px) {
  h1 {
    margin-bottom: 10px;
    background-color: #1b3a76;
    color: #c4c4c4;
  }
  body {
    background-color: #18255f;
  }
  .wrapper {
    top: 0;
    width: 660px;
    height: 1220px;
    background-color: #0b4bc9;
  }
  .item {
    border-bottom: 10px solid #18255f;
    border-right: 10px solid #18255f;
  }
  .item:hover h5 p {
    color: #fff;
  }
  .item-1 {
    width: 235px;
  }
  .item-2 {
    width: 425px;
  }
  .item-3 {
    width: 425px;
  }
  .item-4 {
    width: 235px;
  }
  .item-5 {
    width: 235px;
  }
  .item-6 {
    width: 425px;
  }
  .item-7 {
    width: 425px;
  }
  .item-8 {
    width: 235px;
  }
  .item-9 {
    width: 235px;
  }
  .item-10 {
    width: 425px;
  }
}
/* 手机分辨率 */
@media screen and (max-width: 720px) {
  body {
    background-color: #18255f;
  }
  .wrapper {
    top: 0;
    width: 300px;
    height: 2450px;
    background-color: #0b4bc9;
  }
  .item {
    float: none;
    width: 300px!important;
    border-bottom: 10px solid #18255f;
    border-right: 10px solid #18255f;
  }
}
@media screen and (min-width: 720px) {
  .item-1 .item-logo {
    -webkit-animation: animPic1 4s 1s linear infinite;
            animation: animPic1 4s 1s linear infinite;
  }
  .item-5 .item-logo {
    -webkit-animation: animPic5 4s 2s linear infinite;
            animation: animPic5 4s 2s linear infinite;
  }
  .item-6 .item-logo {
    -webkit-animation: animPic6 4s 3s linear infinite;
            animation: animPic6 4s 3s linear infinite;
  }
  .item-8 .item-logo {
    -webkit-animation: animPic8 4s 4s linear infinite;
            animation: animPic8 4s 4s linear infinite;
  }
  .item-10 .item-logo {
    -webkit-animation: animPic10 4s 5s linear infinite;
            animation: animPic10 4s 5s linear infinite;
  }
}
@-webkit-keyframes animPic1 {
  0% {
    top: 0;
    width: 245px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 245px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -1245px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 245px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -1245px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@keyframes animPic1 {
  0% {
    top: 0;
    width: 245px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 245px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -1245px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 245px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -1245px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@-webkit-keyframes animPic5 {
  0% {
    top: 0;
    width: 350px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 350px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -895px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 350px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -895px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@keyframes animPic5 {
  0% {
    top: 0;
    width: 350px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 350px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -895px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 350px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -895px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@-webkit-keyframes animPic6 {
  0% {
    top: 0;
    width: 375px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  80% {
    top: 0;
    width: 375px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg) rotateY(90deg);
            transform: rotateX(90deg) rotateY(90deg);
  }
}
@keyframes animPic6 {
  0% {
    top: 0;
    width: 375px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  80% {
    top: 0;
    width: 375px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg) rotateY(90deg);
            transform: rotateX(90deg) rotateY(90deg);
  }
}
@-webkit-keyframes animPic8 {
  0% {
    top: 0;
    width: 200px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 200px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -695px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 200px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -695px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@keyframes animPic8 {
  0% {
    top: 0;
    width: 200px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 200px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -695px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 200px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -695px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@-webkit-keyframes animPic10 {
  0% {
    top: 0;
    width: 320px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 320px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -375px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 320px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -1245px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@keyframes animPic10 {
  0% {
    top: 0;
    width: 320px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: 0 0;
    opacity: 0;
  }
  20% {
    top: 0;
    width: 320px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -375px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  80% {
    top: 0;
    width: 320px;
    height: 245px;
    background-image: url(../img/img2-2.jpg);
    background-position: -1245px 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 85px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
