@import "config";

/* BEM support function
------------------------------- */

@function selectorToString($selector) {
  $selector: inspect($selector);
  $selector: str-slice($selector, 2, -2);

  @return $selector;
}

@function containsModifier($selector) {
  $selector: selectorToString($selector);

  @if (str-index($selector, $modifier-separator)) {
    @return true;
  } @else {
    @return false;
  }
}

@function containsWhenFlag($selector) {
  $selector: selectorToString($selector);

  @if (str-index($selector, "." + $state-prefix)) {
    @return true;
  } @else {
    @return false;
  }
}

@function containsPseudoClass($selector) {
  $selector: selectorToString($selector);

  @if (str-index($selector, ": ")) {
    @return true;
  } @else {
    @return false;
  }
}

@function hitAllSpecialNestRule($selector) {
  @return containsModifier($selector) or containsWhenFlag($selector) or containsPseudoClass($selector);
}
